* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 26px;
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    min-width: 900px;
    /* max-width: 2400px; */
    margin: 0px!important;
}
a {
    text-decoration: none;
}
ul {
    display: inline-block;
}
li {
    display: inline-block;
    list-style: none;
}
b {
    font-weight: 600;
}
header {
    background: url("../img/sample2.jpg") center bottom/cover;
    position: relative;
    width: 100%;
    padding-top: 61%;
}
header * {
    color: white;
}
.header-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.top-bar {
    margin: 3.4% 4.2%;
    display: flex;
    justify-content: space-between;
}
header .logo {
    text-transform: uppercase;
    letter-spacing: 7px;
}
.user-menu li {
    padding-left: 85px;
}
.user-menu a {
    padding: 0 15px;
}
.header-heading {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
}
.header-heading h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-weight: 400;
}
.header-heading span {
    font-size: 7rem;
}
header nav {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: 0 4.2%;
    display: flex;
    justify-content: space-around;
}
nav a {
    border: 3px solid white;
    padding: 30px 165px;
}
header:after {
    content: '';
    display: block;
    height: 30%;
    background: #000;
    position: absolute;
    width: 100%;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
}
.featured-articles:before {
    content: '';
    display: block;
    height: 32%;
    background-color: #F3F3F3;
    position: absolute;
    width: 100%;
    z-index: -10;
    top: -32%;
    left: 0;
}
.featured-articles {
    position: relative; 
}

.intro {
    width: 100%;
    padding-top: 18.5%;
    position: relative;
}
.intro div:first-child {
    color: white;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding-left: 1.3%;
    padding-right: 4.2%;
}
.intro div:last-child {
    color: black;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 4.2%;
    padding-right: 15%;
    font-size: 1.35rem;
}

.featured-articles {
    padding: 0 4.2% 4.2%;
    text-align: center;
    background-color: #F3F3F3;
}
.featured-articles h2 {
    font-size: 1.84rem;
    font-weight: 400;
    margin-top: -2%;
    margin-bottom: 3.3%;
}
article {
    display: flex;
}
.article-img {
    flex-basis: 50%;
    margin-bottom: 1.5%;
    height: 24.7vw;
    position: relative;
    overflow: hidden;
}
.article-text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}
article:nth-of-type(even) .article-text {
    order: 1;
}
article:nth-of-type(even) .article-img {
    order: 2;
}
.article-text p {
    font-size: 1.07rem;
    padding-left: 14%;
}
article:nth-of-type(even) .article-text p {
    padding-right: 13%;
    padding-left: 0;
}
.likes-counter {
    position: absolute;
    right: 3.7%;
    top: 7%;
    border: 4px solid white;
    padding: 0.4rem 0.9rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
.date-and-country {
    position: absolute;
    left: 4%;
    bottom: 7%;
    font-size: 1.1rem;
    color: white;
}

.galery {
    padding: 3% 0.5% 0;
    
}
.galery-container {
    display: flex;
    justify-content: space-evenly;
}
.galery-item {
    position: relative;
    width: 18.6vw;
    height: 24.8vw;
    overflow: hidden;
}
.galery-item .explore {
    display: inline-block;
    background-color: rgb(9, 119, 116);
    color: white;
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0.5rem 0;
    opacity: 0.8;
}
.galery-item .date-and-country {
    left: 9%;
}
.galery-item .likes-counter {
    top: 6%;
    right: 8%;
}
.galery .load {
    display: block;
    background-color: #097774;
    color: white;
    width: 25vw;
    height: 4vw;
    text-align: center;
    line-height: 4vw;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 1.1rem;
}

.subscription {
    background-color: #F3F3F3;
    padding: 4% 2.1%;
}
.subscription h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 1.84rem;
    line-height: 3vw;
    vertical-align: middle;
}
form {
    text-align: right;
    margin-top: 1.3%;
}
input {
    height: 3vw;
    outline: none;
}
input[type=email] {
    width: 13%;
    margin-right: 0.6%;
    margin-left: 1.5%;
    padding-left: 1%;
    font-size: 1rem;
    border: 2px solid black;
}
::placeholder {
    color: black;
  }
input[type=submit] {
    width: 7.3%;
    background-color: #097774;
    color: white;
    font-size: 1.15rem;
    border: none;
}
footer {
    display: flex;
    height: 4vw;
    justify-content: space-between;
    align-items: center;
}
footer p {
    color: #9E9E9E;
    font-size: 1.1rem;
}
.footer-nav a {
    font-size: 1.1rem;
    color: black;
}
.footer-nav li {
    margin-left: 1.5vw;
}

@media screen and (max-width: 1400px) and (min-width: 0)  {
    html {
        font-size: 10px;
    }
    header .logo {
        letter-spacing: 3px;
    }
    .user-menu li {
        padding-left: 15px;
    }
    .user-menu a {
        padding: 0 10px;
    }
    .header-heading h1 {
        letter-spacing: 5px;
    }
    nav a {
        border: 1px solid white;
        padding: 10px 60px;
    }
    .article-img {
        height: 24.3vw;
    }
    .likes-counter {
        border: 1px solid white;
    }
    input[type=email] {
        border: 1px solid black;
    }
}
@media screen and (max-width: 2000px) and (min-width: 1401px)  {
    html {
        font-size: 18px;
    }
    nav a {
        border: 3px solid white;
        padding: 20px 110px;
    }
}