/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
body {
  font-family: 'Roboto';
  font-weight: 300;
}
.post-1 {
  background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
body {
  width: 100%;
  margin: 0px!important;
  background-color: #0b192f;
  padding: 0 1% 5px;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}
header {
  background-color: #162b4d;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.6% 0 1.8%;
}
.logo {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 100;
}
.logo span {
  color: #d12767;
}
.nav-toggle {
  display: none;
}
nav a {
  display: inline-block;
  color: #fff;
  padding: 50px 25px;
  font-size: 1.2rem;
  transition: 1.5s;
}
nav a:hover {
  background-color: rgba(184, 184, 184, 0.1);
}

.center-part {
  display: flex;
  flex-wrap: wrap;
}
aside {
  width: 23.57%;
  flex-grow: 1;
}
main {
  margin-right: 2.14%;
  width: 74.29%;
  flex-grow: 1;
}
.post {
  display: flex;
  flex-wrap: wrap;
}
.post > * {
  width: 50%;
}
.post:last-of-type > * {
  width: 100%;
}
.img-container {
  display: inline-block;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
}
.post-content {
  display: flex;
  position: relative;
  color: #fff;
  padding: 1% 1% 4% 4%;
}
.post-content .month {
  display: block;
  font-size: 1.5rem;
}
time {
  font-weight: 100;
  font-size: 3rem;
  opacity: 0.5;
  margin-left: auto;
}
.post-text h2 {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 1;
  padding-top: 10%;
  padding-bottom: 8%;
}
.post-text {
  flex-basis: 73%;
}
.post-text p {
  opacity: 0.7;
  line-height: 1.5;
}

aside article {
  margin-bottom: 25px;
  background-color: #fff;
  padding-bottom: 13%;
}
aside article:last-of-type {
  margin-bottom: 0;
}
article h3 {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 10% 11% 4%;
  line-height: 1.1;
}
article p {
  margin: 0 11%;
  font-size: 0.95rem;
  line-height: 1.6;
  opacity: 0.7;
}

footer {
  background-color: #162b4d;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 2.5%;
  font-weight: 100;
  line-height: 1.5;
}
footer p {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  time {
    font-size: 2rem;
  }
  .post-text h2 {
    font-size: 2.4rem;
  }
  footer .copyright {
    flex-basis: 60%;
  }
}
@media screen and (min-width: 769px) {
  .post:nth-of-type(even) .img-container {
    order: 2;
  }
  .post:nth-of-type(even) .post-content {
    order: 1;
    padding: 1% 4% 4% 1%;
  }
  .post:nth-of-type(even) .post-text {
    order: 2;
  }
  .post:nth-of-type(even) time {
    order: 1;
  }
  .post:nth-of-type(even) time {
    margin-left: 0;
    margin-right: auto;
  }
  .post:nth-of-type(even) .post-content {
    text-align: right;
  }
  .post:last-of-type .post-text {
    flex-basis: 90%;
  }
  .post:last-of-type h2 {
    padding-top: 4%;
    padding-bottom: 3%;
  }
  .post .img-container::after, .post .post-content::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: 1.5s;
  }
  .post-1 .img-container:hover::after, .post-1 .post-content:hover::after {
    background: #B71757;
  }
  .post-2 .img-container:hover::after, .post-2 .post-content:hover::after {
    background: #0D7E71;
  }
  .post-3 .img-container:hover::after, .post-3 .post-content:hover::after {
    background: #b1660e;
  }
  .post-4 .img-container:hover::after, .post-4 .post-content:hover::after {
    background: #d12767;
  }
  .post-5 .img-container:hover::after, .post-5 .post-content:hover::after {
    background: #2d95bb;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
    flex-direction: column;
  }
  nav {
    display: none;
  }
  .nav-toggle {
    display: block;
    color: #fff;
    font-size: 1rem;
    order: 1;
    margin-top: 20px;
  }
  .logo {
    order: 2;
    font-size: 2rem;
    margin: 50px 0;
  }
  .post > * {
    width: 100%;
  }
  aside {
    width: 39.3%;
  }
  main {
    margin-right: 2.7%;
    width: 56%;
  }
  .post-content {
    flex-direction: column;
    padding: 0 8% 4% 8%;
  }
  .post-text p {
    font-size: 0.8rem;
  }
  .post-text h2 {
    font-size: 2.6rem;
  }
  time {
    margin: 12% auto 2%;
    font-size: 2.8rem;
  }
  article h3 {
    font-size: 1.42rem;
  }
  article p {
    font-size: 0.75rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin-right: 0;
  }
  aside {
    width: 100%;
  }
  main {
    margin-right: 0;
    width: 100%;
  }
  footer {
    margin-top: 42px;
  }
  aside article {
    padding-bottom: 8%;
  }
  article h3 {
    margin: 6% 7% 3%;
  }
  article p {
    margin: 0 7%;
  }
  footer {
    padding: 5% 10%;
  }
}
