$sourceSansPro: 'Source Sans Pro', sans-serif;
$frescaFont: 'Fresca', sans-serif;
$textFont: $frescaFont;
$headersFont: $sourceSansPro;
$backgroundImage: url(../img/m-h-night.jpg);
$buttonColor: #E3AC00;
$underlineColor: #FF4E33;
$headersColor: #FFFFFF;
$buttonFontColor: #FFFFFF;
$sectionBackgroud: #3B3F50;
$textColor: darken(#FFFFFF, 20%);
$backgroundColor2: #922B54;
$bodyBackground: #21232E;

$fontColors: (
header: $headersColor,
button: $buttonFontColor,
text: $textColor
);