$sourceSansPro: 'Source Sans Pro', sans-serif;
$hindFont: 'Hind', sans-serif;
$textFont: $hindFont;
$headersFont: $sourceSansPro;
$backgroundImage: url(../img/m-h-day.jpg);
$buttonColor: #699900;
$underlineColor: #14A0C7;
$headersColor: #2C2F3C;
$buttonFontColor: #FFFFFF;
$sectionBackgroud: #21232E;
$textColor: darken(#FFFFFF, 20%);
$backgroundColor2: #2C5ADE;
$bodyBackground: #FFFFFF;

$fontColors: (
header: $headersColor,
button: $buttonFontColor,
text: $textColor
);